body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 23px; }

#container {
  height: 100%;
  width: 100%;
  text-align: center;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }

#container2 {
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  padding: 0px 0px 8px;
  border-bottom: 1px solid #000;
  color: #000; }
  a:hover {
    border-bottom: none; }

h1 {
  font-size: 2em;
  font-family: 'Sansita', sans-serif; }

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  font-family: 'Sansita', sans-serif;
  margin: 10px 0px 10px;
  line-height: 30px; }

.poop {
  background-image: url("../images/record.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  float: left;
  width: 50%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  color: #ffffff;
  margin-left: -10px; }
  .poop:hover {
    margin-left: 0px; }

.wee {
  background: #ffffff;
  height: 100%;
  width: 50%;
  float: left;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  margin-left: 0px; }
  .wee:hover {
    margin-left: -10px; }

.left {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 20px; }

.intro {
  border-top: 3px solid #000;
  width: 210px;
  margin: 60px 30px 20px;
  padding: 5px 0px;
  text-align: left;
  font-size: 12px;
  line-height: 24px; }
  .intro--wider {
    width: 40%;
    float: left; }
    .intro--wider a {
      width: 150px; }
  .intro a {
    font-weight: bold;
    border: 5px solid #000;
    padding: 10px 30px 10px 25px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 50px;
    letter-spacing: 1px;
    display: block; }
  .intro a:hover {
    color: grey;
    border: 5px solid grey; }
  .intro a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 5px; }

.box {
  width: 430px;
  padding: 25px 15px;
  margin: 80% auto 0%;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1s linear; }
  .box:hover {
    background-color: rgba(0, 0, 0, 0.7); }
  .box--title {
    text-transform: uppercase;
    font-family: 'Sansita', sans-serif;
    font-size: 25px;
    text-align: center; }

@media (max-width: 500px) {
  #container {
    flex-direction: column;
    width: 100%; }
  #container2 {
    margin-top: 20px; }
  .wee {
    width: 100%;
    margin-left: -10px; }
  .poop {
    width: 100%;
    margin: 0px; }
  .box {
    margin: 10% auto 10%;
    width: 90%; }
  .intro {
    width: 90%;
    margin: 30px 30px 0px; }
    .intro--wider {
      width: 80%;
      padding: 0px; } }
